* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  width: 100vw;
  height: calc(100vh - ((100vh - 766px) / 2));
  padding-top: calc((100vh - 766px) / 2);
  background: rgb(207, 207, 207);
  background: radial-gradient(
    circle,
    rgba(207, 207, 207, 1) 0%,
    rgba(245, 245, 245, 1) 13%,
    rgba(219, 219, 219, 1) 53%,
    rgba(230, 230, 230, 1) 72%,
    rgba(255, 255, 255, 1) 100%
  );
}
